.nav{
    display: flex;
    .left-side{
        flex:1;
        

    }
    .right-side{
        flex:1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top:10px ;
        margin-right: 35px;
    }
    
}